<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.tosl.coronawarncompanion">


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--suppress AndroidDomInspection -->
    <application
        android:name="org.tosl.coronawarncompanion.CWCApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:ignore="AllowBackup">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <service
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:foregroundServiceType="location"
            android:name="org.tosl.coronawarncompanion.tracking.LocationService"/>
        <activity
            android:name="org.tosl.coronawarncompanion.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.tosl.coronawarncompanion.DisplayDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tosl.coronawarncompanion.MainActivity" />
        </activity>
        <activity
            android:name="org.tosl.coronawarncompanion.DisplayLicensesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tosl.coronawarncompanion.MainActivity" />
        </activity>
        <activity
            android:name="org.tosl.coronawarncompanion.AboutActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tosl.coronawarncompanion.MainActivity" />
        </activity>
        <activity
            android:name="org.tosl.coronawarncompanion.TrackingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tosl.coronawarncompanion.MainActivity" />
        </activity>
        <receiver
            android:name="org.tosl.coronawarncompanion.tracking.RestartBackgroundService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="org.tosl.coronawarncompanion.tracking.BroadcastReceiverOnBootComplete"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:directBootAware="true">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>